<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <!-- file upload link -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.10/vue.min.js"></script>
    <!-- Boxicons -->
    <link
      href="https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css"
      rel="stylesheet"
    />

    <!-- FontAwesome -->
    <script
      src="https://kit.fontawesome.com/55bd3bbc70.js"
      crossorigin="anonymous"
    ></script>

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- Custom CSS -->
    <link rel="stylesheet" href="assets/css/style.css" />
    <link rel="stylesheet" href="assets/css/sidebar.css" />
    <title>Sorridi Pizza</title>
  </head>
  <body>
    <div class="sidebar">
      <div class="logo-details">
        <i class="">
          <img src="assets/img/Dream-crowd-Logo.png" />
        </i>
        <span class="logo_name">Sorridi Pizza</span>
      </div>
      <ul class="nav-links">
        <li>
          <a href="dashboard.html">
            <i class="fas fa-grip"></i>
            <span class="link_name">Tabloul de bord</span>
          </a>
        </li>
        <li>
          <div class="iocn-link">
            <a href="#">
              <i class="fas fa-file-alt"></i>
              <span class="link_name">Gestionarea comenzilor</span>
            </a>
          </div>
        </li>
        <li>
          <div class="iocn-link">
            <a href="requests.html">
              <i class="fas fa-utensils"></i>
              <span class="link_name">Gestionarea meniului</span>
            </a>
          </div>
        </li>
        <!-- <li> -->
        <li>
          <a href="messages.html">
            <i class="fas fa-hamburger"></i>
            <span class="link_name">Catering</span>
          </a>
        </li>
        <li>
          <a href="messages.html">
            <i class="fas fa-user"></i>
            <span class="link_name">Gestionarea clienților</span>
          </a>
        </li>
        <li>
          <a href="messages.html">
            <i class="fas fa-envelope"></i>
            <span class="link_name">Mesaje</span>
          </a>
        </li>
        <li>
          <a href="messages.html">
            <i class="fas fa-award"></i>
            <span class="link_name">Promoții/Reduceri</span>
          </a>
        </li>
        <li>
          <a href="messages.html">
            <i class="fas fa-bell"></i>
            <span class="link_name">Notificări</span>
          </a>
        </li>
        <li class="active">
          <a href="messages.html">
            <i class="fas fa-cog"></i>
            <span class="link_name">Setări</span>
          </a>
        </li>
      </ul>
      <div class="bottom-links">
        <ul class="nav-links">
          <li data-bs-toggle="modal" data-bs-target="#logoutmodal">
            <a href="#">
              <i class="fas fa-sign-out-alt"></i>
              <span class="link_name">Deconectare</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <section class="home-section">
      <div class="container-fluid">
        <div class="row">
          <div class="home-content fixed-top">
            <div class="col-md-8" style="padding: 0px 12px; display: flex">
              <i class="nav-dash-logo">
                <img src="assets/img/logo.png" />
              </i>
              <i class="bx bx-menu"></i>
            </div>
            <div class="col-md-4 prof-sec" style="padding: 0px 12px">
              <div class="nav-profile">
                <a href="#"><i class="fa-regular fa-bell"></i></a>
                <a
                  href="viewapplication.html"
                  class="d-flex align-items-center"
                >
                  <img src="assets/img/profile-img.png" alt="" />
                  <h1>
                    Sebastian &nbsp;<svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="24"
                      height="24"
                      viewBox="0 0 24 24"
                      fill="none"
                    >
                      <path
                        d="M18 9L12 15L6 9"
                        stroke="#060808"
                        stroke-width="1.5"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                    </svg>
                  </h1>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- =============================== MAIN CONTENT START HERE =========================== -->
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="row">
              <div class="same-bg">
                <div class="page-move">
                  <nav
                    style="--bs-breadcrumb-divider: '>'"
                    aria-label="breadcrumb"
                  >
                    <ol class="breadcrumb">
                      <li class="breadcrumb-item style-change">
                        <a href="#">Tabloul de bord</a>
                      </li>
                      <li class="breadcrumb-item style-change">Setări</li>
                      <li
                        class="breadcrumb-item style-change active"
                        aria-current="page"
                      >
                        Despre noi
                      </li>
                    </ol>
                  </nav>
                </div>
                <h1>Despre noi</h1>

                <!-- Hero Section -->
                <div class="row">
                  <div class="col-md-12">
                    <div class="heros-sec">
                      <h2>Despre noi</h2>
                    </div>
                  </div>
                </div>

                <!-- Form Section -->
                <div class="form-bg">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="product-form">
                        <div class="row">
                          <div class="col-md-6">
                            <label for="">Eyebrow Text</label>
                            <input
                              type="text"
                              class="form-control fill-it"
                              placeholder="Eyebrow Text"
                            />
                          </div>
                          <div class="col-md-6">
                            <label for="">Heading</label>
                            <input
                              type="text"
                              class="form-control fill-it"
                              placeholder="Heading"
                            />
                          </div>
                        </div>

                        <div class="row ingredients mt-3">
                          <div class="col-md-12">
                            <label for="">Description</label>
                            <input
                              type="text"
                              class="form-control ingredient-fill desc"
                              placeholder="Description"
                            />
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <div class="product-form">
                          <div class="row">
                            <div class="forms-name">
                              <h2>Upload Images</h2>
                            </div>
                            <div class="col-md-3 identity" id="upload-image">
                              <div
                                class="input-file-wrapper transition-linear-3 position-relative"
                              >
                                <span
                                  class="remove-img-btn position-absolute"
                                  @click="reset('post-thumbnail')"
                                  v-if="preview!==null"
                                >
                                  Remove
                                </span>
                                <label
                                  class="input-style input-label lh-1-7 p-3 text-center cursor-pointer"
                                  for="post-thumbnail"
                                >
                                  <span v-show="preview===null">
                                    <i
                                      class="fa-solid fa-cloud-arrow-up pt-3"
                                    ></i>
                                    <span class="d-block">Upload Images</span>
                                    <p>numai imagine jpeg</p>
                                  </span>
                                  <template v-if="preview">
                                    <img
                                      :src="preview"
                                      class="img-fluid mt-2"
                                    />
                                  </template>
                                </label>
                                <input
                                  type="file"
                                  accept="image/*"
                                  @change="previewImage('post-thumbnail')"
                                  class="input-file"
                                  id="post-thumbnail"
                                />
                              </div>
                            </div>
                            <div class="col-md-3 identity" id="upload-image1">
                              <div
                                class="input-file-wrapper transition-linear-3 position-relative"
                              >
                                <span
                                  class="remove-img-btn position-absolute"
                                  @click="reset('post-thumbnail1')"
                                  v-if="preview!==null"
                                >
                                  Remove
                                </span>
                                <label
                                  class="input-style input-label lh-1-7 p-3 text-center cursor-pointer"
                                  for="post-thumbnail1"
                                >
                                  <span v-show="preview===null">
                                    <i
                                      class="fa-solid fa-cloud-arrow-up pt-3"
                                    ></i>
                                    <span class="d-block">Upload Images</span>
                                    <p>numai imagine jpeg</p>
                                  </span>
                                  <template v-if="preview">
                                    <img
                                      :src="preview"
                                      class="img-fluid mt-2"
                                    />
                                  </template>
                                </label>
                                <input
                                  type="file"
                                  accept="image/*"
                                  @change="previewImage('post-thumbnail1')"
                                  class="input-file"
                                  id="post-thumbnail1"
                                />
                              </div>
                            </div>
                            <div class="col-md-3 identity" id="upload-image2">
                              <div
                                class="input-file-wrapper transition-linear-3 position-relative"
                              >
                                <span
                                  class="remove-img-btn position-absolute"
                                  @click="reset('post-thumbnail2')"
                                  v-if="preview!==null"
                                >
                                  Remove
                                </span>
                                <label
                                  class="input-style input-label lh-1-7 p-3 text-center cursor-pointer"
                                  for="post-thumbnail2"
                                >
                                  <span v-show="preview===null">
                                    <i
                                      class="fa-solid fa-cloud-arrow-up pt-3"
                                    ></i>
                                    <span class="d-block">Upload Images</span>
                                    <p>numai imagine jpeg</p>
                                  </span>
                                  <template v-if="preview">
                                    <img
                                      :src="preview"
                                      class="img-fluid mt-2"
                                    />
                                  </template>
                                </label>
                                <input
                                  type="file"
                                  accept="image/*"
                                  @change="previewImage('post-thumbnail2')"
                                  class="input-file"
                                  id="post-thumbnail2"
                                />
                              </div>
                            </div>
                            <div class="col-md-3 identity" id="upload-image3">
                              <div
                                class="input-file-wrapper transition-linear-3 position-relative"
                              >
                                <span
                                  class="remove-img-btn position-absolute"
                                  @click="reset('post-thumbnail3')"
                                  v-if="preview!==null"
                                >
                                  Remove
                                </span>
                                <label
                                  class="input-style input-label lh-1-7 p-3 text-center cursor-pointer"
                                  for="post-thumbnail3"
                                >
                                  <span v-show="preview===null">
                                    <i
                                      class="fa-solid fa-cloud-arrow-up pt-3"
                                    ></i>
                                    <span class="d-block">Upload Images</span>
                                    <p>numai imagine jpeg</p>
                                  </span>
                                  <template v-if="preview">
                                    <img
                                      :src="preview"
                                      class="img-fluid mt-2"
                                    />
                                  </template>
                                </label>
                                <input
                                  type="file"
                                  accept="image/*"
                                  @change="previewImage('post-thumbnail3')"
                                  class="input-file"
                                  id="post-thumbnail3"
                                />
                              </div>
                            </div>
                            <div class="col-md-3 mt-4">
                              <label for="">Title Here</label>
                              <input
                                type="text"
                                class="form-control fill-it"
                                placeholder="Title Here"
                              />
                            </div>
                            <div class="col-md-3 mt-4">
                              <label for="">Title Here</label>
                              <input
                                type="text"
                                class="form-control fill-it"
                                placeholder="Title Here"
                              />
                            </div>
                            <div class="col-md-3 mt-4">
                              <label for="">Title Here</label>
                              <input
                                type="text"
                                class="form-control fill-it"
                                placeholder="Title Here"
                              />
                            </div>
                            <div class="col-md-3 mt-4">
                              <label for="">Title Here</label>
                              <input
                                type="text"
                                class="form-control fill-it"
                                placeholder="Title Here"
                              />
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row ingredients mt-3">
                      <div class="col-md-12">
                        <label for="">Description</label>
                        <input
                          type="text"
                          class="form-control ingredient-fill desc"
                          placeholder="Description"
                        />
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Section 3 -->
                <div class="row">
                  <div class="col-md-12">
                    <div class="heros-sec sect-2">
                      <h2>Echipa Noastră Talentată</h2>
                    </div>
                  </div>
                </div>

                <div class="form-bg">
                  <div class="row">
                    <div class="row">
                      <div class="col-md-12">
                        <div class="product-form">
                          <div class="row">
                            <div class="col-md-3 identity" id="upload-image4">
                              <div
                                class="input-file-wrapper transition-linear-3 position-relative"
                              >
                                <span
                                  class="remove-img-btn position-absolute"
                                  @click="reset('post-thumbnail4')"
                                  v-if="preview!==null"
                                >
                                  Remove
                                </span>
                                <label
                                  class="input-style input-label lh-1-7 p-3 text-center cursor-pointer"
                                  for="post-thumbnail4"
                                >
                                  <span v-show="preview===null">
                                    <i
                                      class="fa-solid fa-cloud-arrow-up pt-3"
                                    ></i>
                                    <span class="d-block">Upload Images</span>
                                    <p>numai imagine jpeg</p>
                                  </span>
                                  <template v-if="preview">
                                    <img
                                      :src="preview"
                                      class="img-fluid mt-2"
                                    />
                                  </template>
                                </label>
                                <input
                                  type="file"
                                  accept="image/*"
                                  @change="previewImage('post-thumbnail4')"
                                  class="input-file"
                                  id="post-thumbnail4"
                                />
                              </div>
                            </div>
                            <div class="col-md-3 identity" id="upload-image5">
                              <div
                                class="input-file-wrapper transition-linear-3 position-relative"
                              >
                                <span
                                  class="remove-img-btn position-absolute"
                                  @click="reset('post-thumbnail5')"
                                  v-if="preview!==null"
                                >
                                  Remove
                                </span>
                                <label
                                  class="input-style input-label lh-1-7 p-3 text-center cursor-pointer"
                                  for="post-thumbnail5"
                                >
                                  <span v-show="preview===null">
                                    <i
                                      class="fa-solid fa-cloud-arrow-up pt-3"
                                    ></i>
                                    <span class="d-block">Upload Images</span>
                                    <p>numai imagine jpeg</p>
                                  </span>
                                  <template v-if="preview">
                                    <img
                                      :src="preview"
                                      class="img-fluid mt-2"
                                    />
                                  </template>
                                </label>
                                <input
                                  type="file"
                                  accept="image/*"
                                  @change="previewImage('post-thumbnail5')"
                                  class="input-file"
                                  id="post-thumbnail5"
                                />
                              </div>
                            </div>
                            <div class="col-md-3 identity" id="upload-image6">
                              <div
                                class="input-file-wrapper transition-linear-3 position-relative"
                              >
                                <span
                                  class="remove-img-btn position-absolute"
                                  @click="reset('post-thumbnail6')"
                                  v-if="preview!==null"
                                >
                                  Remove
                                </span>
                                <label
                                  class="input-style input-label lh-1-7 p-3 text-center cursor-pointer"
                                  for="post-thumbnail6"
                                >
                                  <span v-show="preview===null">
                                    <i
                                      class="fa-solid fa-cloud-arrow-up pt-3"
                                    ></i>
                                    <span class="d-block">Upload Images</span>
                                    <p>numai imagine jpeg</p>
                                  </span>
                                  <template v-if="preview">
                                    <img
                                      :src="preview"
                                      class="img-fluid mt-2"
                                    />
                                  </template>
                                </label>
                                <input
                                  type="file"
                                  accept="image/*"
                                  @change="previewImage('post-thumbnail6')"
                                  class="input-file"
                                  id="post-thumbnail6"
                                />
                              </div>
                            </div>
                            <div class="col-md-3 identity" id="upload-image7">
                              <div
                                class="input-file-wrapper transition-linear-3 position-relative"
                              >
                                <span
                                  class="remove-img-btn position-absolute"
                                  @click="reset('post-thumbnail7')"
                                  v-if="preview!==null"
                                >
                                  Remove
                                </span>
                                <label
                                  class="input-style input-label lh-1-7 p-3 text-center cursor-pointer"
                                  for="post-thumbnail7"
                                >
                                  <span v-show="preview===null">
                                    <i
                                      class="fa-solid fa-cloud-arrow-up pt-3"
                                    ></i>
                                    <span class="d-block">Upload Images</span>
                                    <p>numai imagine jpeg</p>
                                  </span>
                                  <template v-if="preview">
                                    <img
                                      :src="preview"
                                      class="img-fluid mt-2"
                                    />
                                  </template>
                                </label>
                                <input
                                  type="file"
                                  accept="image/*"
                                  @change="previewImage('post-thumbnail7')"
                                  class="input-file"
                                  id="post-thumbnail7"
                                />
                              </div>
                            </div>
                            <div class="col-md-3 mt-4">
                              <label for="">Full Name</label>
                              <input
                                type="text"
                                class="form-control fill-it"
                                placeholder="Full Name"
                              />
                            </div>
                            <div class="col-md-3 mt-4">
                              <label for="">Full Name</label>
                              <input
                                type="text"
                                class="form-control fill-it"
                                placeholder="Full Name"
                              />
                            </div>
                            <div class="col-md-3 mt-4">
                              <label for="">Full Name</label>
                              <input
                                type="text"
                                class="form-control fill-it"
                                placeholder="Full Name"
                              />
                            </div>
                            <div class="col-md-3 mt-4">
                              <label for="">Full Name</label>
                              <input
                                type="text"
                                class="form-control fill-it"
                                placeholder="Full Name"
                              />
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-3 mt-4">
                              <label for="">Designation</label>
                              <input
                                type="text"
                                class="form-control fill-it"
                                placeholder="Designation"
                              />
                            </div>
                            <div class="col-md-3 mt-4">
                              <label for="">Designation</label>
                              <input
                                type="text"
                                class="form-control fill-it"
                                placeholder="Designation"
                              />
                            </div>
                            <div class="col-md-3 mt-4">
                              <label for="">Designation</label>
                              <input
                                type="text"
                                class="form-control fill-it"
                                placeholder="Designation"
                              />
                            </div>
                            <div class="col-md-3 mt-4">
                              <label for="">Designation</label>
                              <input
                                type="text"
                                class="form-control fill-it"
                                placeholder="Designation"
                              />
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- Final Button Row -->
                <div class="form-bg short-bottom mt-4">
                  <div class="row">
                    <div class="col-md-12 text-end">
                      <button class="btn delivered-butn" type="button">
                        Update
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <!-- End of main row inside col-md-10 -->
            </div>
            <!-- col-md-10 -->
          </div>
        </div>
      </div>
    </section>
    <!-- Bootstrap Bundle JS -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <script src="assets/js/script.js"></script>

    <!-- logout modal -->
    <div
      class="modal fade"
      id="logoutmodal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content msg-content-sec">
          <div class="modal-body p-0">
            <h2>Are you sure you want to logout?</h2>
            <div class="row">
              <div class="col-md-12 logout-btns-sec">
                <div class="modal-btns-sec">
                  <button
                    class="btn reply-btn"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                  >
                    No, Cancel
                  </button>
                  <button class="btn read-btn">Yes, Sure</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
<!-- Upload script start -->
<script>
  // 1
  new Vue({
    el: "#upload-image",
    data() {
      return {
        preview: null,
        image: null,
      };
    },
    methods: {
      previewImage: function (id) {
        let input = document.getElementById(id);
        if (input.files) {
          let reader = new FileReader();
          reader.onload = (e) => {
            this.preview = e.target.result;
          };
          this.image = input.files[0];
          reader.readAsDataURL(input.files[0]);
        }
      },
      reset: function (id) {
        this.image = null;
        this.preview = null;
        // Clear the input element
        document.getElementById(id).value = "";
      },
    },
  });
  // 2
  new Vue({
    el: "#upload-image1",
    data() {
      return {
        preview: null,
        image: null,
      };
    },
    methods: {
      previewImage: function (id) {
        let input = document.getElementById(id);
        if (input.files) {
          let reader = new FileReader();
          reader.onload = (e) => {
            this.preview = e.target.result;
          };
          this.image = input.files[0];
          reader.readAsDataURL(input.files[0]);
        }
      },
      reset: function (id) {
        this.image = null;
        this.preview = null;
        // Clear the input element
        document.getElementById(id).value = "";
      },
    },
  });
  // 3
  new Vue({
    el: "#upload-image2",
    data() {
      return {
        preview: null,
        image: null,
      };
    },
    methods: {
      previewImage: function (id) {
        let input = document.getElementById(id);
        if (input.files) {
          let reader = new FileReader();
          reader.onload = (e) => {
            this.preview = e.target.result;
          };
          this.image = input.files[0];
          reader.readAsDataURL(input.files[0]);
        }
      },
      reset: function (id) {
        this.image = null;
        this.preview = null;
        // Clear the input element
        document.getElementById(id).value = "";
      },
    },
  });
  // 4
  new Vue({
    el: "#upload-image3",
    data() {
      return {
        preview: null,
        image: null,
      };
    },
    methods: {
      previewImage: function (id) {
        let input = document.getElementById(id);
        if (input.files) {
          let reader = new FileReader();
          reader.onload = (e) => {
            this.preview = e.target.result;
          };
          this.image = input.files[0];
          reader.readAsDataURL(input.files[0]);
        }
      },
      reset: function (id) {
        this.image = null;
        this.preview = null;
        // Clear the input element
        document.getElementById(id).value = "";
      },
    },
  });
  // 5
  new Vue({
    el: "#upload-image4",
    data() {
      return {
        preview: null,
        image: null,
      };
    },
    methods: {
      previewImage: function (id) {
        let input = document.getElementById(id);
        if (input.files) {
          let reader = new FileReader();
          reader.onload = (e) => {
            this.preview = e.target.result;
          };
          this.image = input.files[0];
          reader.readAsDataURL(input.files[0]);
        }
      },
      reset: function (id) {
        this.image = null;
        this.preview = null;
        // Clear the input element
        document.getElementById(id).value = "";
      },
    },
  });
  // 6
  new Vue({
    el: "#upload-image5",
    data() {
      return {
        preview: null,
        image: null,
      };
    },
    methods: {
      previewImage: function (id) {
        let input = document.getElementById(id);
        if (input.files) {
          let reader = new FileReader();
          reader.onload = (e) => {
            this.preview = e.target.result;
          };
          this.image = input.files[0];
          reader.readAsDataURL(input.files[0]);
        }
      },
      reset: function (id) {
        this.image = null;
        this.preview = null;
        // Clear the input element
        document.getElementById(id).value = "";
      },
    },
  });
  // 7
  new Vue({
    el: "#upload-image6",
    data() {
      return {
        preview: null,
        image: null,
      };
    },
    methods: {
      previewImage: function (id) {
        let input = document.getElementById(id);
        if (input.files) {
          let reader = new FileReader();
          reader.onload = (e) => {
            this.preview = e.target.result;
          };
          this.image = input.files[0];
          reader.readAsDataURL(input.files[0]);
        }
      },
      reset: function (id) {
        this.image = null;
        this.preview = null;
        // Clear the input element
        document.getElementById(id).value = "";
      },
    },
  });
  // 8
  new Vue({
    el: "#upload-image7",
    data() {
      return {
        preview: null,
        image: null,
      };
    },
    methods: {
      previewImage: function (id) {
        let input = document.getElementById(id);
        if (input.files) {
          let reader = new FileReader();
          reader.onload = (e) => {
            this.preview = e.target.result;
          };
          this.image = input.files[0];
          reader.readAsDataURL(input.files[0]);
        }
      },
      reset: function (id) {
        this.image = null;
        this.preview = null;
        // Clear the input element
        document.getElementById(id).value = "";
      },
    },
  });
  // 9
  new Vue({
    el: "#upload-image8",
    data() {
      return {
        preview: null,
        image: null,
      };
    },
    methods: {
      previewImage: function (id) {
        let input = document.getElementById(id);
        if (input.files) {
          let reader = new FileReader();
          reader.onload = (e) => {
            this.preview = e.target.result;
          };
          this.image = input.files[0];
          reader.readAsDataURL(input.files[0]);
        }
      },
      reset: function (id) {
        this.image = null;
        this.preview = null;
        // Clear the input element
        document.getElementById(id).value = "";
      },
    },
  });
  // 10
  new Vue({
    el: "#upload-image9",
    data() {
      return {
        preview: null,
        image: null,
      };
    },
    methods: {
      previewImage: function (id) {
        let input = document.getElementById(id);
        if (input.files) {
          let reader = new FileReader();
          reader.onload = (e) => {
            this.preview = e.target.result;
          };
          this.image = input.files[0];
          reader.readAsDataURL(input.files[0]);
        }
      },
      reset: function (id) {
        this.image = null;
        this.preview = null;
        // Clear the input element
        document.getElementById(id).value = "";
      },
    },
  });
  // 11
  new Vue({
    el: "#upload-image10",
    data() {
      return {
        preview: null,
        image: null,
      };
    },
    methods: {
      previewImage: function (id) {
        let input = document.getElementById(id);
        if (input.files) {
          let reader = new FileReader();
          reader.onload = (e) => {
            this.preview = e.target.result;
          };
          this.image = input.files[0];
          reader.readAsDataURL(input.files[0]);
        }
      },
      reset: function (id) {
        this.image = null;
        this.preview = null;
        // Clear the input element
        document.getElementById(id).value = "";
      },
    },
  });
  // 12
  new Vue({
    el: "#upload-image11",
    data() {
      return {
        preview: null,
        image: null,
      };
    },
    methods: {
      previewImage: function (id) {
        let input = document.getElementById(id);
        if (input.files) {
          let reader = new FileReader();
          reader.onload = (e) => {
            this.preview = e.target.result;
          };
          this.image = input.files[0];
          reader.readAsDataURL(input.files[0]);
        }
      },
      reset: function (id) {
        this.image = null;
        this.preview = null;
        // Clear the input element
        document.getElementById(id).value = "";
      },
    },
  });
  // 13
  new Vue({
    el: "#upload-image12",
    data() {
      return {
        preview: null,
        image: null,
      };
    },
    methods: {
      previewImage: function (id) {
        let input = document.getElementById(id);
        if (input.files) {
          let reader = new FileReader();
          reader.onload = (e) => {
            this.preview = e.target.result;
          };
          this.image = input.files[0];
          reader.readAsDataURL(input.files[0]);
        }
      },
      reset: function (id) {
        this.image = null;
        this.preview = null;
        // Clear the input element
        document.getElementById(id).value = "";
      },
    },
  });
  // 14
  new Vue({
    el: "#upload-image13",
    data() {
      return {
        preview: null,
        image: null,
      };
    },
    methods: {
      previewImage: function (id) {
        let input = document.getElementById(id);
        if (input.files) {
          let reader = new FileReader();
          reader.onload = (e) => {
            this.preview = e.target.result;
          };
          this.image = input.files[0];
          reader.readAsDataURL(input.files[0]);
        }
      },
      reset: function (id) {
        this.image = null;
        this.preview = null;
        // Clear the input element
        document.getElementById(id).value = "";
      },
    },
  });
  // 15
  new Vue({
    el: "#upload-image14",
    data() {
      return {
        preview: null,
        image: null,
      };
    },
    methods: {
      previewImage: function (id) {
        let input = document.getElementById(id);
        if (input.files) {
          let reader = new FileReader();
          reader.onload = (e) => {
            this.preview = e.target.result;
          };
          this.image = input.files[0];
          reader.readAsDataURL(input.files[0]);
        }
      },
      reset: function (id) {
        this.image = null;
        this.preview = null;
        // Clear the input element
        document.getElementById(id).value = "";
      },
    },
  });
  // 16
  new Vue({
    el: "#upload-image15",
    data() {
      return {
        preview: null,
        image: null,
      };
    },
    methods: {
      previewImage: function (id) {
        let input = document.getElementById(id);
        if (input.files) {
          let reader = new FileReader();
          reader.onload = (e) => {
            this.preview = e.target.result;
          };
          this.image = input.files[0];
          reader.readAsDataURL(input.files[0]);
        }
      },
      reset: function (id) {
        this.image = null;
        this.preview = null;
        // Clear the input element
        document.getElementById(id).value = "";
      },
    },
  });
  // 17
  new Vue({
    el: "#upload-image16",
    data() {
      return {
        preview: null,
        image: null,
      };
    },
    methods: {
      previewImage: function (id) {
        let input = document.getElementById(id);
        if (input.files) {
          let reader = new FileReader();
          reader.onload = (e) => {
            this.preview = e.target.result;
          };
          this.image = input.files[0];
          reader.readAsDataURL(input.files[0]);
        }
      },
      reset: function (id) {
        this.image = null;
        this.preview = null;
        // Clear the input element
        document.getElementById(id).value = "";
      },
    },
  });
  // 18
  new Vue({
    el: "#upload-image17",
    data() {
      return {
        preview: null,
        image: null,
      };
    },
    methods: {
      previewImage: function (id) {
        let input = document.getElementById(id);
        if (input.files) {
          let reader = new FileReader();
          reader.onload = (e) => {
            this.preview = e.target.result;
          };
          this.image = input.files[0];
          reader.readAsDataURL(input.files[0]);
        }
      },
      reset: function (id) {
        this.image = null;
        this.preview = null;
        // Clear the input element
        document.getElementById(id).value = "";
      },
    },
  });
  // 19
  new Vue({
    el: "#upload-image18",
    data() {
      return {
        preview: null,
        image: null,
      };
    },
    methods: {
      previewImage: function (id) {
        let input = document.getElementById(id);
        if (input.files) {
          let reader = new FileReader();
          reader.onload = (e) => {
            this.preview = e.target.result;
          };
          this.image = input.files[0];
          reader.readAsDataURL(input.files[0]);
        }
      },
      reset: function (id) {
        this.image = null;
        this.preview = null;
        // Clear the input element
        document.getElementById(id).value = "";
      },
    },
  });
  // 20
  new Vue({
    el: "#upload-image19",
    data() {
      return {
        preview: null,
        image: null,
      };
    },
    methods: {
      previewImage: function (id) {
        let input = document.getElementById(id);
        if (input.files) {
          let reader = new FileReader();
          reader.onload = (e) => {
            this.preview = e.target.result;
          };
          this.image = input.files[0];
          reader.readAsDataURL(input.files[0]);
        }
      },
      reset: function (id) {
        this.image = null;
        this.preview = null;
        // Clear the input element
        document.getElementById(id).value = "";
      },
    },
  });
  // 21
  new Vue({
    el: "#upload-image20",
    data() {
      return {
        preview: null,
        image: null,
      };
    },
    methods: {
      previewImage: function (id) {
        let input = document.getElementById(id);
        if (input.files) {
          let reader = new FileReader();
          reader.onload = (e) => {
            this.preview = e.target.result;
          };
          this.image = input.files[0];
          reader.readAsDataURL(input.files[0]);
        }
      },
      reset: function (id) {
        this.image = null;
        this.preview = null;
        // Clear the input element
        document.getElementById(id).value = "";
      },
    },
  });
  // 22
  new Vue({
    el: "#upload-image21",
    data() {
      return {
        preview: null,
        image: null,
      };
    },
    methods: {
      previewImage: function (id) {
        let input = document.getElementById(id);
        if (input.files) {
          let reader = new FileReader();
          reader.onload = (e) => {
            this.preview = e.target.result;
          };
          this.image = input.files[0];
          reader.readAsDataURL(input.files[0]);
        }
      },
      reset: function (id) {
        this.image = null;
        this.preview = null;
        // Clear the input element
        document.getElementById(id).value = "";
      },
    },
  });
  // 23
  new Vue({
    el: "#upload-image22",
    data() {
      return {
        preview: null,
        image: null,
      };
    },
    methods: {
      previewImage: function (id) {
        let input = document.getElementById(id);
        if (input.files) {
          let reader = new FileReader();
          reader.onload = (e) => {
            this.preview = e.target.result;
          };
          this.image = input.files[0];
          reader.readAsDataURL(input.files[0]);
        }
      },
      reset: function (id) {
        this.image = null;
        this.preview = null;
        // Clear the input element
        document.getElementById(id).value = "";
      },
    },
  });
  // 24
  new Vue({
    el: "#upload-image23",
    data() {
      return {
        preview: null,
        image: null,
      };
    },
    methods: {
      previewImage: function (id) {
        let input = document.getElementById(id);
        if (input.files) {
          let reader = new FileReader();
          reader.onload = (e) => {
            this.preview = e.target.result;
          };
          this.image = input.files[0];
          reader.readAsDataURL(input.files[0]);
        }
      },
      reset: function (id) {
        this.image = null;
        this.preview = null;
        // Clear the input element
        document.getElementById(id).value = "";
      },
    },
  });
  // 25
  new Vue({
    el: "#upload-image24",
    data() {
      return {
        preview: null,
        image: null,
      };
    },
    methods: {
      previewImage: function (id) {
        let input = document.getElementById(id);
        if (input.files) {
          let reader = new FileReader();
          reader.onload = (e) => {
            this.preview = e.target.result;
          };
          this.image = input.files[0];
          reader.readAsDataURL(input.files[0]);
        }
      },
      reset: function (id) {
        this.image = null;
        this.preview = null;
        // Clear the input element
        document.getElementById(id).value = "";
      },
    },
  });
  // 26
  new Vue({
    el: "#upload-image25",
    data() {
      return {
        preview: null,
        image: null,
      };
    },
    methods: {
      previewImage: function (id) {
        let input = document.getElementById(id);
        if (input.files) {
          let reader = new FileReader();
          reader.onload = (e) => {
            this.preview = e.target.result;
          };
          this.image = input.files[0];
          reader.readAsDataURL(input.files[0]);
        }
      },
      reset: function (id) {
        this.image = null;
        this.preview = null;
        // Clear the input element
        document.getElementById(id).value = "";
      },
    },
  });
  // 27
  new Vue({
    el: "#upload-image30",
    data() {
      return {
        preview: null,
        image: null,
      };
    },
    methods: {
      previewImage: function (id) {
        let input = document.getElementById(id);
        if (input.files) {
          let reader = new FileReader();
          reader.onload = (e) => {
            this.preview = e.target.result;
          };
          this.image = input.files[0];
          reader.readAsDataURL(input.files[0]);
        }
      },
      reset: function (id) {
        this.image = null;
        this.preview = null;
        // Clear the input element
        document.getElementById(id).value = "";
      },
    },
  });
</script>
